<h1>Hi!</h1>

<p>To Confirm your Payment Request, please visit the following link</p>

<a href="{{ front_url }}/payment-request-confirmation?id={{ request.getId() }}&token={{ resetToken.getPublicToken() }}">
    Confirm
</a>

